[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
sphinx = "*"
pylint = "*"
pytest = "*"
pytest-mypy = "*"
happy-tasks = {editable = true,path = "."}

[packages]
happy-tasks = {path = "."}
pyyaml = "*"

[requires]
python_version = "3.8"
